.header {
  padding: 0 40%;
}

@media (max-width: 1276px) {
  .header {
    padding: 0 35%;
  }
}

@media (max-width:  860px) {
    .header {
      padding: 0 30%;
    }
  }

  @media (max-width:  650px) {
    .header {
      padding: 0 20%;
    }
  }

  @media (max-width:  425px) {
    .header {
      padding: 0 15%;
    }
  }

  @media (max-width:  360px) {
    .header {
      padding: 0 10%;
    }
  }

  @media (max-width:  308px) {
    .header {
      padding: 0 5%;
    }
  }