.datePicker {
  display: flex;
  flex-basis: 15%;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
  font-size: 1.4em;
}

.datePicker__button {
  cursor: pointer;
}

.datePicker__content {
  display: flex;
  flex: 2;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.revertButton {
  position: absolute;
  bottom: 0px;
  font-size: 0.5em;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: rgb(0, 119, 255);
  border-bottom: 1px solid rgb(0, 119, 255);
}
