.entry {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 0.5px dotted grey;
  font-family: "Poppins", sans-serif;
}

.description {
  flex-basis: 100%;
  text-align: start;
}

.title {
  font-size: 1.1em;
  font-weight: 700;
}

.category {
  font-style: italic;
  font-size: 0.8em;
}

.price {
  flex-basis: 30%;
}

.revenueColor {
  color: rgb(0, 92, 0);
}

.expenseColor {
  color: rgb(173, 0, 0);
}

.edit {
  font-size: 1.5em;
  cursor: pointer;
}

.trash {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.7em;
}

.trash:hover {
  color: rgb(173, 0, 0);
}
