.summary {
  display: flex;
  gap: 30px;
  padding: 0 10px;
  margin: 0;
  border-top: 2px solid grey;
  justify-content: flex-end;
  align-items: center;
}

.amount {
  font-size: 1.2em;
}

.revenueColor {
  color: rgb(0, 92, 0);
}

.expenseColor {
  color: rgb(173, 0, 0);
}
