.container {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.revenues {
  flex-basis: 50%;
  text-align: center;
}

.expenses {
  flex-basis: 50%;
  text-align: center;
}

.total {
  flex-basis: 100%;
  text-align: center;
}
