.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.modal {
  background-color: white;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  border-radius: 2em;
  font-size: 1.2em;
  width: 30%;
  /* -webkit-box-shadow: 1px 2px 24px -6px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 2px 24px -6px rgba(255, 255, 255, 1);
  box-shadow: 1px 2px 24px -6px rgba(255, 255, 255, 1); */
}

.header {
  color: teal;
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 900;
  background-color: inherit;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.form {
  padding: 20px 0;
}

.invalid {
  border: 1px solid red;
  background-color: rgb(248, 123, 123);
}

.input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2em;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.select {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2em;
  width: 100%;
  background-color: transparent;
  color: grey;
}

.datePicker {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2em;
}

.submitButton {
  border: none;
  background-color: teal;
  color: whitesmoke;
  padding: 10px;
  border-radius: 4em;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  width: 100%;
  margin: 10px 0;
}
